---
import { languages } from '../../i18n/ui';
import Layout from '../../layouts/Layout.astro';
import Nav from '../../components/Nav.astro';
import Hero from '../../components/Hero.astro';
import Intro from '../../components/Intro.astro';
import MainFeatures from '../../components/MainFeatures.astro';
import Showcase from '../../components/Showcase.astro';
import Stats from '../../components/Stats.astro';
import Features from '../../components/Features.astro';
import FAQ from '../../components/FAQ.astro';
import CTA from '../../components/CTA.astro';
import Footer from '../../components/Footer.astro';

export function getStaticPaths() {
  return Object.keys(languages)
    .filter(lang => lang !== 'en')
    .map((lang) => ({ params: { lang } }));
}
---

<Layout>
	<Nav />
	<main>
		<Hero />
		<Intro />
		<MainFeatures />
		<Showcase />
		<Features />
		<FAQ />
		<CTA />
	</main>
	<Footer />
</Layout>
